# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env/
.venv/

# =========================
# PyCharm / JetBrains
# =========================
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temp
# =========================
*.log
*.tmp
